/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.homepage
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.homepage article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.homepage div {
  line-height: 1;
}
.homepage ol,
ul {
  list-style: none;
}
.homepage blockquote,
q {
  quotes: none;
}
.homepage
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

.homepage table {
  border-collapse: collapse;
  border-spacing: 0;
}
.homepage a {
  text-decoration: none;
  transition: 0.5s;
}

.homepage {
  background: rgb(238, 246, 254);
  background: linear-gradient(
    0deg,
    rgba(238, 246, 254, 1) 0%,
    rgba(210, 228, 244, 1) 53%,
    rgba(222, 239, 255, 1) 100%
  );
  font-family: 'IBM Plex Sans', sans-serif;
  color: #0d2148;
}

/* Main Cover */

.homepage .bg-light {
  background: #deefff !important;
}
.homepage .navbar-nav {
  margin: 38px 0px 0 90px;
}
.homepage .navbar-brand {
  width: 140px;
  height: 60px;
}
.homepage .navbar-brand svg image {
  width: 140px;
}
.homepage .navbar-brand svg {
  width: 140px;
  height: 90px;
  margin: 0;
}
.homepage .nav-link {
  color: #0d2148;
  margin: 0 30px 0 0;
}
.homepage .nav-link span {
  border-radius: 30px;
  background-color: #4898ee;
  font-size: 10px;
  color: #fff;
  padding: 4px 10px;
  font-weight: 600;
  margin: 0 0px 0 10px;
}
.homepage .navbar-text {
  margin: 38px 0px 0 0px;
  float: right;
}
.homepage .nav-link:hover {
  color: #2077ec;
}
.homepage a.login {
  background-color: #4898ee;
  padding: 10px 60px;
  color: #fff;
}
.homepage a.login:hover {
  background-color: #2077ec;
  color: #fff;
}

.homepage h1 {
  margin: 100px 0 0;
  font-size: 70px;
  font-weight: 600;
  line-height: 74px;
}
.homepage .main-cover a {
  background-color: #4898ee;
  padding: 20px 60px;
  color: #fff;
  font-weight: 500;
  margin: 30px 0 0;
  display: block;
  width: 260px;
  /* height: 60px; */
  vertical-align: middle;
  text-align: center;
}
.homepage .main-cover a:hover {
  background-color: #2077ec;
  color: #fff;
}

.homepage .main-cover p {
  margin: 30px 0 0;
  font-size: 18px;
  font-weight: 400;
}
.homepage .main-cover svg {
  margin: 0px 0 0;
}

.homepage .main-cover p span {
  font-weight: 500;
}

.homepage h5 {
  text-align: center;
  font-size: 16px;
}
.homepage .clients svg {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  display: block;
}
.homepage .client-list {
  margin: 40px 0 0;
}
.homepage .clients svg image {
  width: 100px;
}
.homepage h2 {
  font-size: 50px;
  font-weight: 600;
  margin: 0px 0px 20px 0;
}
.homepage .soma {
  display: block;
  line-height: 24px;
  margin: 0 160px 0 0px;
}
.homepage a.soka {
  display: block;
  font-weight: 600 !important;
  color: #4898ee;
  margin: 30px 0 0;
}
.homepage .s1 {
  margin: 40px 0 40px;
}

.homepage .process h2 {
  text-align: center;
  margin: 20px 0 0;
}
.homepage .process h4 {
  margin: 20px 0 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.homepage .process h6 {
  line-height: 26px;
  height: 30px;
  width: 30px;
  margin: 20px auto 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 40px;
}

.homepage .process p {
  margin: 10px 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 0 40px;
  line-height: 22px;
}

.homepage .industry h2 {
  line-height: 60px;
}
.homepage .industry {
  margin: 180px 0 0;
}
.homepage .process-cont {
  margin: 60px 0 0;
}
.homepage .industry p {
  width: 60%;
  line-height: 24px;
}

.homepage .pricing {
  margin: 0 0 100px;
}
.homepage .pricing h2 {
  text-align: center;
}
.homepage .colar1 {
  margin: 60px 0;
  background-color: #c5dff7;
  padding: 0 0px 20px;
}
.homepage .colar2 {
  margin: 60px 0;
  background-color: #eff7ff;
}
.homepage .pricing h3 {
  margin: 40px 0 0;
  text-align: left;

  font-size: 24px;
  font-weight: 600;
  padding: 0 0 0 0px;
}
.homepage .divider {
  background-color: #a2bacf;
  width: 100%;
  height: 2px;
  display: block;
  margin: 20px 0 0;
}
.homepage .pricing ul {
  margin: 40px 0 40px;
}
.homepage .colaro {
  padding: 0 60px 0;
}
.homepage .pricing ul li:before {
  margin: 3px 7px 0 0;
  float: left;
  content: '';
  background-color: #e5f2ff;
  border: 1px solid #3f4f5d;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 40px;
}
.homepage .pricing ul.ego li:before {
  margin: 3px 7px 0 0;
  float: left;
  content: '';
  background-color: #4898ee;
  border: 1px solid #3f4f5d;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 40px;
}

.homepage .pricing ul li {
  margin: 0 0 30px;
}
.homepage .pricing ul li {
  font-size: 20px;
}
.homepage .pricing a {
  background-color: #4898ee;
  padding: 20px 60px;
  color: #fff;
  font-weight: 500;
  margin: 50px 0 20px;
  display: block;
  width: 260px;
  /* height: 60px; */
  vertical-align: middle;
  text-align: center;
}
.homepage .pricing a:hover {
  background-color: #2077ec;
}
.homepage .pricingtitles h4 {
  float: right;
  margin: 40px 0 0;
  font-weight: 600;
  font-size: 22px;
}
.homepage .pricingtitles h3 {
  float: left;
}
.homepage .cta {
  background-color: #c5dff7;
  padding: 160px 0;
}
.homepage .cta h2 {
  position: relative;
  z-index: 99;
  text-align: center;
  line-height: 60px;
}
.homepage .cta a {
  position: relative;
  z-index: 10;
  background-color: #4898ee;
  padding: 20px 60px;
  color: #fff;
  font-weight: 500;
  margin: 30px auto 0;
  display: block;
  width: 260px;
  /* height: 60px; */
  vertical-align: middle;
  text-align: center;
}
.homepage .cta a:hover {
  background-color: #2077ec;
}
.homepage .cta {
  position: relative;
}
.homepage .cta svg {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}
.homepage .cta svg image {
  width: 100%;
  height: 100%;
}
.homepage .clear {
  clear: both;
}
.homepage .caym {
  margin: 140px 0 0;
}
.homepage .caym2 {
  padding: 0 0px 0 140px;
}

.homepage .svger svg {
  width: 600px;
  height: 600px;
}
.homepage .svger svg image {
  width: 600px;
  height: 600px;
}
.homepage footer {
  background-color: #102740;
  padding: 40px 0 40px;
}
.homepage footer svg image {
  width: 140px;
}

.homepage footer .social svg image {
  width: 140px;
  height: 30px;
}
.homepage footer svg {
  width: 140px;
  height: 90px;
  margin: 0;
}
.homepage footer ul {
  margin: 40px 0 0;
  color: #fff;
}
.homepage footer ul li {
  margin: 10px 0 20px;
}
.homepage footer ul li a {
  opacity: 0.8;
  color: #fff;
}
.homepage footer ul li a:hover {
  opacity: 1;
  color: #fff;
}

.homepage footer ul.social li {
  float: left;
  margin: 0 20px 0 0;
}

.homepage footer .copy {
  margin: 40px 0 0;
  text-align: center;
  color: #fff;
  opacity: 0.5;
}
.homepage .mainer {
  position: absolute;
  top: 20px;
  width: 100% !important;
  height: 600px;
  left: 0;
}
.homepage .mainer-wrap {
  position: relative;
  flex: none;
  width: 61%;
}
.homepage .main-cover {
  position: relative;
}
.homepage .mainer-text {
  flex: none;
  width: 39%;
}
.homepage .nav-item2 {
  display: none;
  margin: 40px 0 0;
}
.homepage .worksvg {
  position: relative;
  display: block;
  height: 180px;
}
.homepage .worksvg svg {
  position: absolute;
  margin: 40px 0 0;
  top: 40px;
  left: 100px;
}

@media (max-width: 630px) {
  .col {
    flex: none !important;
    width: 100%;
  }
  footer .col {
    flex: none !important;
    margin: 0 auto;
    width: 100%;
  }
  .svger svg image {
    width: 100% !important;
  }
  .svger svg {
    width: 100% !important;
  }
  .navbar-text {
    display: none;
  }
  .navbar-toggler {
    margin: 30px 0 0;
  }
  .navbar-nav {
    margin: 38px 0px 0 0px;
  }
  .nav-item2 {
    display: block;
  }
  .caym2 {
    padding: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .process .col {
    margin: 0 0 40px;
  }
  .industry svg {
    height: 300px !important;
  }
  .worksvg svg {
    position: absolute;
    margin: 40px 0 0;
    top: 40px;
    left: 30%;
  }
}
